body {
  margin:0;
}
#grid ul {
  color:blue;
  line-height:3;
  border-right:2px solid gray;
  width:80px;
  margin:0;
  padding:25px;
}
.title1:link {color:black; text-decoration: none;}
.title1:visited {color:black; text-decoration: none;}
.title1:hover {background-color: gray; text-decoration: none;}
h1 {
  border-bottom:2px solid gray;
  padding:30px;
  margin:0;
  display:gray;
  width:normal;
  text-align: center;
}
ul {
  list-style: none;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
@media(max-width:800px) {
#grid {
  display: block;
}
#grid ul {
  color:blue;
  line-height:3;
  border-right:none;
}
h1 {
  border-bottom:none;
}
}
